.accordian {
  max-width: 1200px;
  margin: auto;
}

.accordian .title {
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px;
  background: #2b2b2b;
  font-family: Arial;
  color: #1561F0;
  font-size: 25px;
}

.accordian .content {
  padding: 5px;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  font-size: 25px;
}

.accordian .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}